<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
internalLogLevel="Trace"
internalLogFile=".\internal_logs\internallog.txt">
	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>
	<targets>
		<target name="logfile" xsi:type="File"
		fileName=".\logs\${shortdate}_logfile.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
				<property name="ThreadId" value="${threadid}" as="number" />
				<property name="MachineName" value="${machinename}" />
			</target>
		</target>
	</targets>
	<rules>
		<!--<logger name="*" minlevel="Debug" writeTo="logfile" />-->
		<logger name="*" minlevel="Debug" writeTo="seq" />
	</rules>
</nlog>